<plugin>
  <nom>Gestion de relecteurs</nom>
  <auteur>[Vincent Beffara->vbeffara@gmail.com]</auteur>
  <version>0.6</version>
  <etat>dev</etat>
  <licence>GPL 3 - &copy; 2009</licence>

  <description>Ce plugin permet la gestion de relecteurs publics : des
    visiteurs du site qui n'ont pas acc&egrave;s &agrave; l'espace
    priv&eacute;, et qui ne peuvent pas &eacute;crire d'articles, mais
    disposent d'une interface sp&eacute;cifique pour commenter les
    articles propos&eacute;s qui leur sont soumis.</description>

  <prefix>relecteurs</prefix>
  <icon>relecteurs.gif</icon>
  <fonctions>relecteurs.php</fonctions>
  <install>relecteurs.php</install>

  <pipeline><nom>boite_infos</nom></pipeline>

  <pipeline>
    <nom>autoriser</nom>
    <inclure>relecteurs.php</inclure>
  </pipeline>
</plugin>
