<plugin>
	<nom>
	<multi>[fr]Mediath&egrave;que
	[it]Gestione dei documenti
	[es]Gesti&oacute;n de los documentos
	</multi>
	</nom>
	<icon>img_pack/portfolio-64.png</icon>
	<auteur>[Cedric MORIN->http://www.yterium.net] &amp; [romy.tetue.net->http://romy.tetue.net]
	</auteur>
	<version>1.1</version>
	<version_base>0.8</version_base>
	<etat>stable</etat>
	<description><multi>
	[fr]Outils de gestion des documents, avec page r&eacute;capitulative listant tous les documents du site.
	[it]Utility di gestione dei documenti : una pagina che mostra tutti i documenti.
	[es]Utilidad de gesti&oacute;n de los documentos: una p&aacute;gina que resume todos los documentos del sitio.
	</multi></description>
	<lien>http://www.spip-contrib.net/mediatheque</lien> <!-- URI de documentation -->
	<install>base/gestdoc.php</install>
	<fonctions>gestdoc_fonctions.php</fonctions>
	<prefix>gestdoc</prefix>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/gestdoc.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/gestdoc.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/gestdoc.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>gestdoc_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>gestdoc_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>modalbox_insert_head</action>
		<inclure>modalbox/modalbox_pipelines.php</inclure>
	</pipeline>

	<pipeline>
		<nom>autoriser</nom>
		<inclure>gestdoc_autoriser.php</inclure>
	</pipeline>
	<!-- avec plugin champs extras 2 -->
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>gestdoc_pipelines.php</inclure>
	</pipeline>
	<bouton id='documents' parent='naviguer'>
		<titre>gestdoc:documents</titre>
		<icone>img_pack/portfolio-24.png</icone>
		<url>portfolio</url>
	</bouton>	
	<necessite id="SPIP" version="[2.0.9;]" />
	<necessite id="spip_bonux" version="[1.8;]" />
</plugin>
