*.swp
*experimental*
.DS_Store
/.dbdump
/.httpd_log
/.rprox_log
/CHANGELOG.txt
/COPYING.txt
/IMG
/INSTALL.txt
/config/connect*
/ecrire
/extensions
/files
/forum
/htaccess.txt
/index.php
/local
/media
/pdf2004
/pdf2006
/plugins/MathJax
/plugins/auto
/plugins/cextras/
/plugins/iextras/
/plugins/jsMath/jsMath/fonts
/plugins/metadonnees_photo
/plugins/recherche_avancee
/prive
/rien.gif
/spip.php
/squelettes-dist
/svn.revision
/tmp
