*.swp
*experimental*
.DS_Store
.dbdump
.log
.svn
/CHANGELOG.txt
/COPYING.txt
/IMG
/INSTALL.txt
/config/connect*
/ecrire
/extensions
/files
/forum
/htaccess.txt
/index.php
/local
/media
/pdf2004
/pdf2006
/plugins/auto
/plugins/jsMath/jsMath/fonts
/prive
/rien.gif
/spip.php
/squelettes-dist
/svn.revision
/tmp
