<plugin>
	<nom>
		<multi>
			[fr]API de v&#233;rification
			[en]Control API
		</multi>
	</nom>
	<slogan>Une API g&#233;n&#233;rique pour v&#233;rifier une valeur</slogan>
	<auteur>[Les Développements Durables->http://www.ldd.fr]</auteur>
	<icon>images/verifier-128.png</icon>
	<licence>GPL v3</licence>
	<version>1.0.9</version>
	<etat>stable</etat>
	<description>
		<multi>
			[fr]Fournit une fonction unique <code>verifier($valeur, $type, $options, &$valeur_normalisee)</code> permettant de tester la validit&#233; d'une valeur.
			[en]Provides a unique function <code>verifier($value, $type, $options, &$valeur_normalisee)</code> to test the validity of a value.
		</multi>
	</description>
	<prefix>verifier</prefix>
	<lien>http://contrib.spip.net/Verifier</lien>
	<pipeline>
		<nom>verifier</nom>
		<action></action>
	</pipeline>
	<necessite id="SPIP" version="[2.0.10;3.1.99]" />
	<utilise id="yaml" />
	<categorie>outil</categorie>
	<traduire gestionnaire="salvatore" module="verifier" reference="fr" />
</plugin>
