<plugin>
	<nom><multi>[en]Swiss Knife[fr]Le Couteau Suisse[ca]El Ganivet Su&#237;s[ar]&#1587;&#1603;&#1610;&#1606; &#1575;&#1604;&#1580;&#1610;&#1576;[nl]Het Zwitserland Mes[gl]A navalla su&#237;za[es]La Navaja Suiza[de]Schweizer Taschenmesser[tr]&#304;svi&#231;re &#199;ak&#305;s&#305;[br]Ar Gontell Suis[pt_br]Canivete Su&#237;&#231;o[ast]La Navaya Suiza[gl]A navalla su&#237;za[ro]Cu&#355;itul Elve&#355;ian[it]Coltellino Svizzero</multi></nom>
	<slogan>... ou plus de fonctionnalit&#233;s pour SPIP !</slogan>
	<icon>img/couteau-50.gif</icon>
	<version>1.8.114</version>
	<version_base>1.10</version_base>
	<auteur>Patrice Vanneufville
_ &#169; 2007-2012 - Distribu&#233; sous licence GPL
	</auteur>
	<etat> <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
	stable
	</etat>
	<description><multi>
[en]Gathers together in one plugin many small, useful tools to improve the management of your SPIP site.

Each tool can be ativated individually by the the user from the [plugin's admin page->./?exec=admin_couteau_suisse]. To set some options, click on {{Configuration}}, then choose the {{Swiss Knife}} tab.

Available categories are: Administration, Typographical improvements, Typographical shortcuts, Display on the public site, Tags, Filters, Criteria..

Find your favourite tools in this plugin: {Superscript}, {Curly inverted commas}, {Beautiful bullets}, {A summary for your articles}, {Smileys}, {Delete the number}, {Fine URLs}, {SPIP and external links}, {No anonymous forums}, {Division in pages and tab}, etc., etc.

See the documentation articles at: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibility: SPIP v1.92x/v2.x.x/v3.0
[fr]R&#233;unit en un seul plugin une liste de petites fonctionnalit&#233;s nouvelles et utiles am&#233;liorant la gestion de votre site SPIP.

Chacun de ces outils peut &#234;tre activ&#233; ou non par l'utilisateur sur [la page d'administration du plugin->./?exec=admin_couteau_suisse] et g&#233;rer un certain nombre de variables : cliquer sur {{Configuration}}, puis choisir l'onglet {{Le Couteau Suisse}}.

Les cat&#233;gories disponibles sont : Administration, S&#233;curit&#233;, Interface priv&#233;e, Am&#233;liorations des textes, Raccourcis typographiques, Affichage public, Balises, filtres, crit&#232;res.

D&#233;couvrez dans ce plugin vos outils favoris : {Supprime le num&#233;ro}, {Format des URLs}, {Exposants typographiques}, {Guillemets typographiques}, {Belles puces}, {Lutte contre le SPAM}, {Mailcrypt}, {Belles URLs}, {SPIP et les liens... externes}, {Smileys}, {Un sommaire pour vos articles}, {D&#233;coupe en pages et onglets}, etc., etc.

N'h&#233;sitez pas &#224; consulter les articles de documentation du plugin publi&#233;s sur : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilit&#233; : SPIP v1.92x v2.x.x et v3.0
[nl]In slechts &#233;n plugin verenigt een lijst van kleine nieuwe en nuttige functies die het beleid verbeteren, van uw site SPIP.

Elk van deze werktuigen kan of niet door de gebruiker op geactiveerd worden [de bladzijde van bestuur van plugin->./?exec=admin_couteau_suisse] en een aantal variabele beheren: op {{Configuratie}} klikken, vervolgens de tab kiezen {{Le Couteau Suisse}}.

De beschikbare categorie&#235;n zijn: Bestuur, typografische Verbeteringen, typografische Kortere wegen, openbare Display, Bakens, filters, criteria.

Ontdekt in dit plugin uw lievelingswerktuigen: {Typografische Inzenders}, {typografische Aanhalingstekens}, {Mooi chips}, {schaft een overzicht voor uw artikelen}, {Smileys}, {het nummer}, {Mooi URLs}, {SPIP en de band af externe}, {Niet van onbekende forums}, {D&#233;coupe in bladzijdes en tabben}, etc., etc.

Aarzelt niet om de gepubliceerde artikelen van documentatie van plugin over te raadplegen : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

De verenigbaarheid: SPIP 1.92x/2.x.x/3.0
[ca]Reuneix en un sol plugin una llista de petites noves funcionalitats i utilitats que milloren la gesti&#243; del vostre lloc SPIP.

L'usuari pot activar, o no, cadascuna d'aquestes utilitats [la p&#224;gina d'administraci&#243; del plugin->./?exec=admin_couteau_suisse] i gestoinar un cert nombre de variables: fer un clic a {{Configuraci&#243;}}, despr&#233;s escollir la pestanya {{El Ganivet Su&#237;s}}.

Les categories disponibles s&#243;n: Administraci&#243;, Millores tipogr&#224;fiques, Dreceres tipogr&#224;fiques, Presentaci&#243; p&#250;blica, Etiquetes, Filtres, Criteris.

Descobriu en aquest plugin les vostres utilitats favorites: {Expositors tipogr&#224;fics}, {Cometes tipogr&#224;fiques}, {Bonics s&#237;mbols}, {Un sumari pels vostres articles}, {Emoticones}, {Suprimir el n&#250;mero}, {Bonics URLs}, {SPIP i els enlla&#231;os... externs}, {No F&#242;rums an&#242;mins}, {Divisi&#243; en p&#224;gines i pestanyes}, etc., etc.

No dubteu a consultar els articles de la documentaci&#243; del plugin publicats a: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilitat: SPIP 1.92x/2.x.x/3.0
[de]Zusammenfassung einiger Zusatzfunktionen f&#252;r eine bessere Verwaltung Ihrer SPIP Website.

Jedes dieser Werkzeuge kann vom Administrator auf der |Seite zur Verwaltung des Plugins->./?exec=admin_couteau_suisse] aktiviert oder abgeschaltet und konfiguriert werden: Klicken Sie auf {{Konfiguration}}, und w&#228;hlen Sie dann {{Le Couteau Suisse}}.

Sie k&#246;nnen folgende Einstellungen vornehmen: Verwaltung, typografische Verbesserungen, typografische K&#252;rzel, Anzeigeoptionen der Website, SPIP-Tags, Filter, Kriterien.

W&#228;hlen Sie die f&#252;r Sie wichtigsten Funktionen: {Typografische Hervorhebungen}, {typografische Anf&#252;hrungszeichen}, {sch&#246;ne Listen-Punkte}, {Inhaltsverzeichnis f&#252;r Artikel}, {Smileys}, {Nummern entferneno}, {&#228;sthetische URLs}, {SPIP und externe Links}, {keine anonymen Foren}, {Aufteilung in Seiten und Reiter}, etc., etc.

Bitte lesen Sie auch die Artikel auf : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Kompatibel mit: SPIP 1.92x/2.x.x/3.0
[es]Re&#250;ne en un solo plugin une liste de peque&#241;as caracter&#237;sticas nuevas y &#250;tiles para mejorar la gesti&#243;n de tu sitio SPIP.

Cada herramienta puede activarse o no por el usuario en [la p&#225;gina de administraci&#243;n del plugin->./?exec=admin_couteau_suisse] y manejar cierto n&#250;mero de variables: pulsa en {{Configuraci&#243;n}}, y selecciona la pesta&#241;a {{La Navaja Suiza}}.

Las categor&#237;as disponibles son: Administraci&#243;n, Mejoras tipogr&#225;ficas, Atajos tipogr&#225;ficos, Publicaci&#243;n, Balizas, filtros, criterios.

Encuentra en este plugin tus herramientas favoritas: {Exponentes tipogr&#225;ficos}, {Comillas tipogr&#225;ficas}, {Marcas bonitas}, {Un sumario para tus art&#237;culos}, {Smileys}, {Suprimir el n&#250;mero}, {URLs elegantes}, {SPIP y los enlaces... externos}, {Foros no an&#243;nimos}, {Dividir en p&#225;ginas y pesta&#241;as}, etc., etc.

No dudes en consultar los art&#237;culos de documentaci&#243;n del plugin publicados en: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilidad: SPIP 1.92x/2.x.x/3.0
[ar]&#1610;&#1580;&#1605;&#1593; &#1601;&#1610; &#1605;&#1604;&#1581;&#1602; &#1608;&#1575;&#1581;&#1583; &#1608;&#1592;&#1575;&#1574;&#1601; &#1580;&#1583;&#1610;&#1583;&#1577; &#1608;&#1605;&#1601;&#1610;&#1583;&#1577; &#1578;&#1607;&#1583;&#1601; &#1575;&#1604;&#1609; &#1578;&#1581;&#1587;&#1610;&#1606; &#1575;&#1583;&#1575;&#1585;&#1577; &#1575;&#1604;&#1605;&#1608;&#1602;&#1593;.


&#1608;&#1610;&#1605;&#1603;&#1606; &#1578;&#1601;&#1593;&#1610;&#1604; &#1575;&#1610; &#1605;&#1606; &#1607;&#1584;&#1607; &#1575;&#1604;&#1608;&#1592;&#1575;&#1574;&#1601; &#1575;&#1608; &#1575;&#1610;&#1602;&#1575;&#1601;&#1607;&#1575; &#1601;&#1610; [&#1589;&#1601;&#1581;&#1577; &#1575;&#1583;&#1575;&#1585;&#1577; &#1575;&#1604;&#1605;&#1604;&#1581;&#1602; ->  ./?exec=admin_couteau_suisse] &#1608;&#1575;&#1604;&#1578;&#1581;&#1603;&#1605; &#1576;&#1593;&#1583; &#1605;&#1606; &#1575;&#1604;&#1605;&#1578;&#1594;&#1610;&#1585;&#1575;&#1578;: &#1575;&#1606;&#1602;&#1585; &#1593;&#1604;&#1609; {{&#1573;&#1593;&#1583;&#1575;&#1583; &#1575;&#1604;&#1605;&#1608;&#1602;&#1593;}} &#1579;&#1605; &#1575;&#1582;&#1578;&#1585; &#1585;&#1575;&#1576;&#1591; {{&#1587;&#1603;&#1610;&#1606; &#1575;&#1604;&#1580;&#1610;&#1576;}}.


&#1575;&#1589;&#1606;&#1575;&#1601; &#1575;&#1604;&#1608;&#1592;&#1575;&#1574;&#1601; &#1575;&#1604;&#1605;&#1578;&#1608;&#1575;&#1601;&#1585;&#1577; &#1607;&#1610;:&#1575;&#1604;&#1575;&#1583;&#1575;&#1585;&#1577;&#1548; &#1578;&#1581;&#1587;&#1610;&#1606; &#1575;&#1604;&#1603;&#1578;&#1575;&#1576;&#1577;&#1548; &#1575;&#1582;&#1578;&#1589;&#1575;&#1585;&#1575;&#1578; &#1575;&#1604;&#1603;&#1578;&#1575;&#1576;&#1577;&#1548; &#1593;&#1585;&#1590; &#1575;&#1604;&#1605;&#1608;&#1602;&#1593; &#1575;&#1604;&#1593;&#1605;&#1608;&#1605;&#1610;&#1548; &#1575;&#1604;&#1593;&#1604;&#1575;&#1605;&#1575;&#1578;&#1548; &#1575;&#1604;&#1605;&#1585;&#1588;&#1581;&#1575;&#1578;&#1548; &#1575;&#1604;&#1605;&#1593;&#1575;&#1610;&#1585;.

&#1601;&#1610; &#1607;&#1584;&#1575; &#1575;&#1604;&#1605;&#1604;&#1581;&#1602; &#1610;&#1605;&#1603;&#1606;&#1603; &#1575;&#1582;&#1578;&#1610;&#1575;&#1585; &#1575;&#1583;&#1608;&#1575;&#1578;&#1603; &#1575;&#1604;&#1605;&#1601;&#1590;&#1604;&#1577;: {&#1575;&#1604;&#1575;&#1587;}&#1548; {&#1593;&#1604;&#1575;&#1605;&#1575;&#1578; &#1575;&#1604;&#1575;&#1602;&#1578;&#1576;&#1575;&#1587;}&#1548; {&#1604;&#1575;&#1574;&#1581;&#1577; &#1605;&#1581;&#1578;&#1608;&#1610;&#1575;&#1578; &#1575;&#1604;&#1605;&#1602;&#1575;&#1604;&#1575;&#1578;}&#1548; {&#1575;&#1586;&#1575;&#1604;&#1577; &#1575;&#1585;&#1602;&#1575;&#1605; &#1575;&#1604;&#1593;&#1606;&#1575;&#1589;&#1585;}&#1548; {&#1593;&#1606;&#1575;&#1608;&#1610;&#1606; URL &#1575;&#1604;&#1606;&#1592;&#1610;&#1601;&#1577;}&#1548; {&#1605;&#1606;&#1593; &#1575;&#1604;&#1605;&#1588;&#1575;&#1585;&#1603;&#1575;&#1578; &#1575;&#1604;&#1605;&#1594;&#1601;&#1604;&#1577;}&#1548; &#1575;&#1604;&#1582;.


&#1604;&#1575; &#1578;&#1585;&#1583; &#1601;&#1610; &#1602;&#1585;&#1575;&#1569;&#1577; &#1605;&#1602;&#1575;&#1604;&#1575;&#1578; &#1578;&#1608;&#1579;&#1610;&#1602; &#1607;&#1584;&#1575; &#1575;&#1604;&#1605;&#1604;&#1581;&#1602; &#1593;&#1604;&#1609; &#1575;&#1604;&#1593;&#1606;&#1608;&#1575;&#1606;:[spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

&#1610;&#1578;&#1608;&#1575;&#1601;&#1602; &#1605;&#1593; &#1603;&#1604; &#1575;&#1589;&#1583;&#1575;&#1585;&#1575;&#1578; 1.92x/2.x.x/3.0 &#1605;&#1606; SPIP
[gl]Re&#250;ne nun s&#243; m&#243;dulo unha lista de pequenas funcionalidades novas e &#250;tiles que melloran a xesti&#243;n do seu web SPIP.

Cada unha destas ferramentas pode ser activada ou non polo usuario en  [p&#225;xina de administraci&#243;n do m&#243;dulo->./?exec=admin_couteau_suisse] e xestionar un certo n&#250;mero de variables : Premer en {{Configuraci&#243;n}}, logo escoller a pestana {{A Navalla Su&#237;za}}.

As categor&#237;as dispo&#241;ibles son : administraci&#243;n, melloras tipogr&#225;ficas, atallos tipogr&#225;ficos, presentaci&#243;n p&#250;blica, balizas, filtros, criterios.

Descubra neste m&#243;dulos as s&#250;as ferramentas favoritas : {Super&#237;ndices  tipogr&#225;ficos}, {V&#237;rgulas tipogr&#225;ficas}, {Vi&#241;etas fermosas}, {Un sumario para os seus artigos}, {Riso&#241;os}, {Suprimir o n&#250;mero}, {URL fermosos}, {SPIP e as ligaz&#243;ns... externas}, {Ning&#250;n foro an&#243;nimo}, {Partir en p&#225;xinas e pestanas}, etc., etc.

Non dubide en consultar os artigos de documentaci&#243;n do m&#243;dulo publicados en  : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilidade : SPIP 1.92x/2.x.x/3.0
[br]Bodet e vez ama&#241; ul listennad servijo&#249; nevez ha talbvoudus evit gwellaat mont en-dro ho lec'hienn SPIP.

Pep hini ouzh ar binviji-ma&#241; a c'hell beza&#241; implijet pe get gant an implijer war [bajenn-mera&#241; ar plugin->./?exec=admin_couteau_suisse] ha mera&#241; un nebeud roado&#249; : klikit war {{Ardremmezi&#241;}}, ha dibabit an ivinenn {{Ar Gontell Suis}}.

Setu ar ranno&#249; kinniget : Mera&#241;, Gwellaat ar skritur, berradenno&#249; skritur, diskwel foran, balizenno&#249;, silo&#249;, kriterio&#249;.

Kavit en astenn-ma&#241; un nebeud binviji :  {gallouterien}, {klochedigo&#249;}, {c'hwen vrav}, {ur roll evit ho pennado&#249;}, {skeudennigo&#249;-imor}, {dilemel an niverenn}, {chomlec'hio&#249; brav}, {SPIP hag al liammo&#249; diavaez}, {foromo&#249; dianv ebet}, {didroc'ha&#241; e pajenno&#249; hag e ivinello&#249;}, hag all. 

Gallout a rit teurel ur sell war ar pennado&#249;-titouri&#241; diwar-benn an astenno&#249; war : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Heglot gant SPIP 1.92x/2.x.x/3.0
[ast]Xunta n'un solu plugin una llista de peque&#241;es funciones nueves y ferramientes pa meyorar la xesti&#243;n del to sitiu SPIP.

Cauna d'estes ferramientes puede activase o non pol usuariu so [la p&#225;xina d'alministraci&#243;n del plugin->./?exec=admin_couteau_suisse] y manexar ciertu n&#250;mberu de variables : picar en {{Afitamientu}}, llueu escoyer la pesta&#241;a {{La Navaya Suiza}}.

Les categor&#237;es disponibles son: Alministraci&#243;n, Meyores tipogr&#225;fiques, Atayos tipogr&#225;ficos, Aspeutu p&#250;blicu, Balices, filtros, criterios.

Descubre nesti plugin les tos ferramientes favorites: {Esponentes tipogr&#225;ficos}, {Comilles tipogr&#225;fiques}, {Marques de llista guapes}, {Un sumariu pa los tos art&#237;culos}, {Caruques}, {Suprimir el n&#250;mberu}, {URLs guapes}, {SPIP y los enllaces... esternos}, {Ensin foros an&#243;nimos}, {Divide en p&#225;xines y pesta&#241;es}, etc., etc.

Si quies consultar los art&#237;culos de la documentaci&#243;n del plugin, tan espublizaos en: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilid&#225;: SPIP 1.92x/2.x.x/3.0
[ro]Reune&#351;te &#238;ntr-un singur plugin o list&#259; de mici func&#355;ionalit&#259;&#355;i noi &#351;i utile care amelioreaz&#259; gestiunea site-ului dumneavoastr&#259; SPIP.

Fiecare dintre aceste utilit&#259;&#355;i poate fi activat&#259; de c&#259;tre utilizator &#238;n [pagina de administrare a plug-in-ului->./?exec=admin_couteau_suisse] &#351;i poate gestiona un anumit num&#259;r de variabile: face&#355;i Clic pe {{Configurare}}, dup&#259; aceea alege&#355;i pagina {{Cu&#355;itul Elve&#355;ian}}.

Categoriile disponibile sunt: Administrare, Amelior&#259;ri tipografice, Scurt&#259;turi tipografice, Afi&#351;aj public, Balize, filtre, criterii.

Descoperi&#355;i &#238;n aces plug-in tool-urile dumneavoastr&#259; favorite: {Ghilimele tipografice}, {Fonturi dr&#259;gu&#355;e}, etc., etc.

Nu ezita&#355;i s&#259; consulta&#355;i articolele de documenta&#355;ie publicate la : [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilitate : SPIP 1.92x/2.x.x/3.0
[pt_br]Re&#250;ne, em um &#250;nico plugin, diversas pequenas e &#250;teis funcionalidades, que melhoram o gerenciamento do seu site SPIP.

Cada uma destas ferramentas pode ser ativada ou desativada pelo usu&#225;rio na [p&#225;gina de administra&#231;&#227;o do plugin->./?exec=admin_couteau_suisse] e gerar um certo n&#250;mero de vari&#225;veis: clique em {{Configuration}}, e depois escolha a guia {{Le Couteau Suisse}}.

As categorias dispon&#237;veis s&#227;o: Administra&#231;&#227;o, Melhoramentos tipogr&#225;ficos, Atalhos tipogr&#225;ficos, Exibi&#231;&#227;o p&#250;blica, Tags, filtros, crit&#233;rios.

Descobra neste plugin as suas ferramentas favoritas: {Sobrescritos}, {Aspas tipogr&#225;ficas}, {Bullets melhorados}, {Um &#237;ndice para os seus artigos}, {Smileys}, {Excluir o n&#250;mero}, {URLs melhorados}, {SPIP e links externos}, {Sem f&#243;runs an&#244;nimos}, {Dividir em p&#225;ginas e guias}, etc., etc.

N&#227;o deixe de consultar os artigos de documenta&#231;&#227;o do plugin, publicados em: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilidade: SPIP 1.92x/2.x.x/3.0
[it]Raccoglie in un solo plugin una serie di piccole funzioni nuove ed utili a migliorare la gestione del tuo sito SPIP.

Ciascuna di queste funzioni pu&#242; essere attivata o meno dall'utente sulla [pagina di amministrazione dei plugin->./?exec=admin_couteau_suisse] ed impostata con un certo numero di variabili: clicca su {{Configurazione}}, poi scegli la scheda {{Coltellino Svizzero}}.

Le categorie disponibili sono:Amministrazione, Miglioramenti tipografici, Scorciatoie tipografiche, Visualizzazione del sito pubblico, Segnaposti, filtri, criteri.

Scopri in questo plugin le tue funzioni preferite: {Sopprimi il numero}, {Formato degli URL}, {Evidenziatori tipografici}, {Virgolette tipografiche}, {Simboli di spunta}, {Lotta contro lo SPAM}, {Mailcrypt}, {Belle URL}, {SPIP e i link... esterni}, {Smileys}, {Un sommario per i tuoi articoli}, {Dividi in pagine e schede}, ecc., ecc.

Non esitare a leggere gli articoli di documentazione del plugin pubblicati su: [spip-contrib.net->http://www.spip-contrib.net/Le-Couteau-Suisse].

Compatibilit&#224; : SPIP v1.92x, v2.x.x e v3.0
	</multi></description>
	<lien>[->http://www.spip-contrib.net/Le-Couteau-Suisse]</lien> <!-- URI de documentation -->
	<options> <!-- fichier options (comme l'ancien mes_options.php) charge a chaque hit !! ne surtout pas l'appeler mes_options -->
	couteau_suisse_options.php
	</options>
	<fonctions> <!-- fichier fonctions charge a chaque recalcul (comme l'ancien mes_fonctions.php) !! ne surtout pas l'appeler mes_fonctions -->
	couteau_suisse_fonctions.php
	</fonctions>
	<!-- prefixe des fonctions, filtres et fichers de votre plugin :
		toutes vos fonctions doivent commencer par ce prefixe suivi de _ (ici : cout_ma_fonction() par exemple)
		C'est par ailleurs conseille pour les noms de fichier
		Deux plugin ne peuvent pas avoir le meme prefixe, donc ne gardez pas celui la ! :)
		-->
	<prefix>couteau_suisse</prefix>
	<install>couteau_suisse_administrations.php</install>
	<chemin dir='' />
	<bouton id='csconfig' parent='bando_configuration'>
		<icone>images/couteau-16.png</icone>
		<titre>couteauprive:titre</titre>
		<url>admin_couteau_suisse</url>
	</bouton>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<!-- pipeline qui permet de modifier les pages publiques html issues du cache ou du calcul avant leur envoi au navigateur
		il permet de modifier n'importe quoi, mais est execute a chaque fois et ne profite pas du cache
		il est donc a reserver pour des plugins qui ne sont pas utilises en production de preference
		-->
		<nom>affichage_final</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
 	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>boite_infos</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_droite</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>nettoyer_raccourcis_typo</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_propre</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_typo</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_propre</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_typo</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_edition</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>bt_gadgets</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_boucle</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>bt_toolbox</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline><nom>creer_chaine_url</nom><inclure>cout_pipelines.php</inclure></pipeline>
	<pipeline><nom>arbo_creer_chaine_url</nom><inclure>cout_pipelines.php</inclure></pipeline>
	<pipeline><nom>propres_creer_chaine_url</nom><inclure>cout_pipelines.php</inclure></pipeline>
	<pipeline>
		<nom>porte_plume_barre_pre_charger</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>porte_plume_lien_classe_vers_icone</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>facteur_pre_envoi</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>pre_description_outil</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>fichier_distant</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>porte_plume_cs_pre_charger</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>cout_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.2;3.0.99]" />
	<categorie>maintenance</categorie>
	<traduire gestionnaire="salvatore" module="couteau" reference="fr" />
	<traduire gestionnaire="salvatore" module="couteauprive" reference="fr" />
	<traduire gestionnaire="salvatore" module="paquet-couteau_suisse" reference="fr" />
</plugin>
