<plugin>
	<nom>CVT-multi-etapes</nom>
	<auteur>[Cedric->yterium.net]</auteur>
	<version>0.1.0</version>
	<etat>stable</etat>
	<description>Permet de faire facilement des CVT a plusieurs etapes. Voir le formulaires/demo dans le plugin pour plus de detail</description>
	<prefix>cvtm</prefix>
	<categorie>developpeur</categorie>

	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_verifier</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>styliser</nom>
		<inclure>cvtm_pipelines.php</inclure>
	</pipeline>
</plugin>
