.block-figure {
    h2 {
        padding-right: 0;
    }
    .content {
        a {
            display: block;
            background: $red;
            color: $white;
            border-radius: $border_radius_default;
            padding: 30px 25px;
            box-shadow: inset 5px 0 0 0 rgba(0,0,0,0.2);
            transition: box-shadow $transition_duration_default;

            &:hover {
                box-shadow: inset 500px 0 0 0 rgba(0,0,0,0.2);
            }
        }
    }

    @include media-min("tablet-up") {
        padding-right: $col_padding / 2;
        clear: left;
    }
    @include media-min("desktop-down") {
        padding-right: 0;
        padding-bottom: 0;
        background: none;
        box-shadow: none;
        clear: none;
    }
}