#debug-nav {
    display: none;
}

body.debug {

    &::before {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1px 3px;
        font-size: 10px;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        border-bottom-right-radius: 5px;
        color: #333;
        background: rgba(255, 255, 255, .8);

        @each $_breakpoint, $_properties in $breakpoints {
            @include media-min($_breakpoint) {
                content: $_breakpoint;
            }
        }
    }

    #debug-nav {
        position: absolute;
        display: block;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        background: #efefef;
        box-shadow: 0 0 0 20px $grey_dark;
        opacity: 1;

        caption {
            background: $danger;
            display: block;
            width: 100%;
            border: 1px solid $grey_dark;
        }
        tbody {
            display: block;
            width: 100%;
        }
        th {
            padding: 2px 5px;
            background: $grey_dark;
            text-transform: capitalize;
        }
        td {
            padding: 2px 5px;

            &:nth-child(2) {
                width: 70%;
            }
            &:nth-child(3) {
                width: 30%;
            }
        }
    }
}