%clearfix {
    clear: both;

    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}
%hidden {
    display: none !important;
}
%hidden-text {
    text-align: left;
    text-indent: -9999em;
}
%no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%edged {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @each $_key, $_value in $breakpoints {
        @include media-min($_key) {
            width: ($_value - 100px);
        }
    }
}

%font {
    font-family: 'Open Sans', sans-serif;
}
%font-light {
    @extend %font;
    font-weight: 300;
}
%font-normal {
    @extend %font;
    font-weight: 400;
}
%font-bold {
    @extend %font;
    font-weight: 700;
}

%block-full {
    width: 100%;
    position: relative;
    z-index: 50;

    @include media-min("desktop-down") {
        padding: $col_padding;
    }
}
%block-left {
    float: left;
    width: 100%;
    position: relative;
    z-index: 50;

    @include media-min("desktop-down") {
        padding: $col_padding;
        padding-left: 0;
        width: 820px;
    }
    @include media-min("widescreen-up") {
        width: 925px;
    }
}
%block-right {
    float: left;
    width: 100%;
    position: relative;
    z-index: 50;

    @include media-min("tablet-up") {
        width: 50%;
    }
    @include media-min("desktop-down") {
        float: none;
        padding: $col_padding;
        padding-right: 0;
        width: 360px;
        margin-left: 820px;
    }
    @include media-min("widescreen-up") {
        width: 415px;
        margin-left: 925px;
    }
}

%trackable {
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 8px 0 0 0 $grey_light;
        border-radius: inherit;
        z-index: 0;
    }
    &.green-track:before {
        box-shadow: inset 8px 0 0 0 $green_track;
    }
    &.blue-track:before {
        box-shadow: inset 8px 0 0 0 $blue_track;
    }
    &.red-track:before {
        box-shadow: inset 8px 0 0 0 $red_track;
    }
    &.black-track:before {
        box-shadow: inset 8px 0 0 0 $black_track;
    }
    &.off-track:before {
        box-shadow: inset 8px 0 0 0 $off_track;
    }
}

%separator-top {
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        margin: 30px 0;
        border-radius: 2px;
        background: $grey_lighter;
    }
}
%separator-top-thin {
    @extend %separator-top;
    &:before {
        height: 1px;
    }
}


