<plugin>
  <nom>MathJax</nom>
  <auteur>[Vincent Beffara->vbeffara@ens-lyon.fr]</auteur>
  <version>1.1.2-1</version>
  <etat>test</etat>
  <description>MathJax dans SPIP.</description>
  <prefix>mj</prefix>
  <fonctions>MathJax.php</fonctions>

  <pipeline><nom>pre_typo</nom></pipeline>
  <pipeline><nom>insert_head</nom></pipeline>
  <pipeline><nom>header_prive</nom></pipeline>
</plugin>
