<plugin>
	<nom>Int&#233;gration d'activit&#233;s de g&#233;om&#233;trie</nom>
	<slogan>Ins&#233;rer des applets GeoGebra, GeoNext, GeoLabo, C.a.r.Z.u.l. et CarMetal</slogan>
	<auteur>[Olivier Gautier->http://spip.ac-rouen.fr]</auteur>
	<licence>GNU/GPL</licence>
	<version>1.1.5</version>
	<etat>stable</etat>
	<description>
	Permet d'ins&#233;rer des applets [Geogebra (format ggb)->http://www.geogebra.org], [Geolabo (format glb)->http://www.bibmath.net/geolabo], [GeoNext (format glb)->http://geonext.uni-bayreuth.de], [C.a.r.Z.u.l. (format zir)->http://mathsrv.ku-eichstaett.de/MGF/homes/grothman/java/zirkel] et [CarMetal (formats zir et zirs)->http://db-maths.nuxit.net/CaRMetal] gr&#226;ce &#224; un mod&#232;le.
	</description>
	<lien>http://evaweb.fr/spip.php?rubrique22</lien>
	<prefix>eva_geometrie</prefix>
	<install>eva_geometrie_install.php</install>
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[2.0.0;3.0.99]" />
</plugin>