<plugin>
	<nom>Metadonn&eacute;es photo (EXIF, IPTC et histogramme)</nom>
	<auteur>ARNO*</auteur>
	<version>1.2</version>
	<icon>imgs_photo/logo-pb_plugin.png</icon>
	<etat>stable</etat>
	<description>
		Ce plugin permet d'afficher les informations EXIF, GPS et IPTC d'un fichier JPEG.

		Les informations EXIF sont manipul&eacute;es, sans recours &agrave; l'extension EXIF de PHP, gr&acirc;ce au script de Vinay Yadav (sous licence LGPL).

		Les informations IPTC n&eacute;cessitent la fonction "iptcparse" de PHP et utilisent la classe "class_iptc" d'Alex Arica.
	</description>
	<licence>LGPL</licence>
	<fonctions>photo_infos_fonctions.php</fonctions>
	<lien>http://plugins.spip.net/spip.php?article6</lien> <!-- URI de documentation -->
	<prefix>photo_infos</prefix>
	<pipeline>
		<nom>afficher_contenu_objet</nom>
		<action>pave</action>
		<inclure>photo_infos.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;]" />
	<categorie>multimedia</categorie>
</plugin>

