<plugin>
	<nom> <!-- Nom du plugin -->
<multi>
	[ar]&#1587;&#1604;&#1577; &#1575;&#1604;&#1605;&#1607;&#1605;&#1604;&#1575;&#1578;
	[fr]Corbeille
	[es]Papelera
	[it]Cestino
	[en]Recycle bin
	[de]M&uuml;lleimer
</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin --><multi>[fr]contribution originale par [Matthieu Onfray (Japanim)->http://www.japanim.net/] &#169; 2002
_ adapt&eacute; en plugin avec tendresse par la communaut&eacute;
</multi>
_ <multi>
	[ar]&#169; &#1634;&#1632;&#1632;&#1637;-&#1634;&#1632;&#1632;&#1638; - &#1605;&#1608;&#1586;&#1593; &#1576;&#1605;&#1608;&#1580;&#1576; &#1575;&#1604;&#1578;&#1585;&#1582;&#1610;&#1589; &#1575;&#1604;&#1593;&#1575;&#1605; GPL
	[fr]&#169; 2005-2008 - Distribu&#233; sous licence GPL
	[es]&#169; 2005-2008 - Distribuido bajo licencia GPL
	[it]&#169; 2005-2008 - Distribuito sotto licenza GPL
	[en]&#169; 2005-2008 - distributed under the GPL license
	[de]&#169; 2005-2008 - unter GPL Lizens herausgegeben
</multi>
	</auteur>
	<version>
	0.71
	</version>
	<etat>
	stable
	</etat>
	<description>
	<multi>
	[ar]	&#1573;&#1583;&#1575;&#1585;&#1577; &#1575;&#1604;&#1605;&#1587;&#1578;&#1606;&#1583;&#1575;&#1578; &#1575;&#1604;&#1605;&#1608;&#1580;&#1608;&#1583;&#1577; &#1601;&#1610; &#1587;&#1604;&#1577; &#1575;&#1604;&#1605;&#1607;&#1605;&#1604;&#1575;&#1578;
	[fr] 	Gestion des documents mis &#224; la corbeille
	[es]  Gesti&oacute;n de los documentos enviados a la papelera.
	[it]	Gestione dei documenti nel cestino.
	[en]	Managing documents chucked in the recycle bin.
	[de]  Verwaltung der Elemente im M&uuml;lleimer
	</multi>
	</description>
	<lien>http://www.spip-contrib.net/Corbeille</lien> <!-- URI de documentation -->
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix>corbeille</prefix>	
  <icon>img_pack/trash-full-32.png</icon>
  <options>corbeille_options.php</options>
  <options>corbeille_fonctions.php</options>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<bouton id='corbeille' parent='configuration'>
		<titre>corbeille:corbeille</titre>
		<icone>img_pack/trash-full-24.png</icone>
	</bouton>
	<bouton id='corbeille2' parent='bando_administration'>
		<titre>corbeille:corbeille</titre>
		<icone>images/trash-full-16.png</icone>
		<url>corbeille</url>
	</bouton>	
	<necessite id='SPIP' version='[2.0.0;]' />
	<categorie>maintenance</categorie>
</plugin>
