<plugin>
  <nom>Images des Maths</nom>
  <auteur>[Vincent Beffara->vbeffara@ens-lyon.fr]</auteur>
  <licence>GPL v3 - &copy; 2010</licence>
  <version>0.2</version>
  <etat>dev</etat>
  <prefix>idm</prefix>
  <necessite id="SPIP" version="[2.1.0;]" />

  <description>Fonctionnalit&eacute;s utiles au fonctionnement du site [Images des Maths->http://images.math.cnrs.fr]</description>

  <fonctions>idm.php</fonctions>
  <install>idm.php</install>

  <pipeline><nom>boite_infos</nom></pipeline>
  <pipeline><nom>autoriser</nom></pipeline>
  <pipeline><nom>jquery_plugins</nom></pipeline>

  <pipeline>
    <nom>pre_edition</nom>
    <inclure>idm_pipelines.php</inclure>
  </pipeline>

  <bouton id="idm">
    <titre>IdM</titre>
    <icone>img/IdM_gestion_48.png</icone>
  </bouton>

  <bouton id="idm_projets" parent="idm">
    <titre>Planification</titre>
    <icone>img/IdM_gestion_24.png</icone>
  </bouton>
  <bouton id="idm_relecteurs" parent="idm">
    <titre>Relecteurs</titre>
    <icone>img/IdM_gestion_24.png</icone>
  </bouton>
  <bouton id="idm_relecture" parent="idm">
    <titre>Relecture</titre>
    <icone>img/IdM_gestion_24.png</icone>
  </bouton>
  <bouton id="idm_moderation" parent="idm">
    <titre>Mod&eacute;ration</titre>
    <icone>img/IdM_gestion_24.png</icone>
  </bouton>
  <bouton id="idm_billettistes" parent="idm">
    <titre>Billettistes</titre>
    <icone>img/IdM_gestion_24.png</icone>
  </bouton>
</plugin>
