/*
    Brève
 */
.breve-full {
    @extend %separator-top;

    .category {
        margin-top: -25px;
        margin-bottom: 20px;
    }
    .date {
        line-height: 30px;
        font-style: italic;
        font-size: 15px;
    }

    &:before {
        margin-top: 0;
    }
}