section.inscription {
    #content {
        @extend %separator-top;
        position: relative;

        .category {
            margin-top: -25px;
            margin-bottom: 20px;
        }
        &:before{
            margin-top: 0;
        }

        form {
            @extend %custom-inputs;

            .explication {
                @extend %alert;
            }
        }
        input[type="submit"] {
            @extend %button-red;
            padding: 15px 30px;
        }
        .citer {
            @extend %alert;
            clear: both;
            margin: 25px 0;
        }
    }
}