section.perso {
    #content {
        @extend %separator-top;
        position: relative;

        h3 {
            @extend %separator-top-thin;
            position: relative;
        }
        .category {
            margin-top: -25px;
            margin-bottom: 20px;
        }
        &:before{
            margin-top: 0;
        }
        ul li {
            @extend %ul-default;
        }
        input[type="submit"] {
            @extend %button-red;
            padding: 15px 30px;
        }
    }
}