<plugin>
	<nom>Interface pour Champs Extras</nom>
	<auteur>Matthieu Marcillaud, Fil</auteur>
	<licence>GNU/GPL</licence>
	<version>0.7.3</version>
	<icon>images/iextras-64.png</icon>
	<description>
	Offre une interface pour g&eacute;rer des champs extras.
	</description>
	<etat>dev</etat>
	<prefix>iextras</prefix>
	<necessite id="cextras" version="[0.8.3;]" />
	<necessite id="spip_bonux" version="[1.2;]" />
	<pipeline>
		<nom>declarer_champs_extras</nom>
		<inclure>base/iextras.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/iextras_autoriser.php</inclure>
	</pipeline>
	
	<onglet id='iextras' parent='configuration'>
		<icone>images/iextras-24.png</icone>
		<titre>iextras:champs_extras</titre>
	</onglet>
	
	<bouton id='iextras' parent='bando_configuration'>
		<icone>images/iextras-24.png</icone>
		<titre>iextras:champs_extras</titre>
	</bouton>
</plugin>
