<plugin>
	<nom><multi>[fr]Champs Extras2[de]Zusatzfelder 2[en]Extra fields 2[it]Campi Extra 2</multi></nom>
	<auteur>Matthieu Marcillaud, Fil</auteur>
	<licence>GNU/GPL</licence>
	<version>1.9.0</version>
	<icon>images/cextras-64.png</icon>
	<description>
		<multi>
			[fr]Cr&#233;er de nouveaux champs aux objets d'&#233;dition de SPIP
			[de]Zus&#228;tzliche Felder f&#252;r die Standardobjekte von SPIP anlegen
			[en]Create new edit fields for SPIP objects
			[it]Crea nuovi campi per gli oggetti editoriali di SPIP
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/Champs-Extras-2</lien>
	<etat>test</etat>
	<prefix>cextras</prefix>
	<options>cextras_options.php</options>
	<fonctions>cextras_balises.php</fonctions>
	<necessite id="SPIP" version="[2.0;]" />
 	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/cextras_autoriser.php</inclure>
	</pipeline>	
	<!--
 	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/cextras.php</inclure>
	</pipeline>	
	-->
 	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>afficher_contenu_objet</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>pre_edition</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>
 	<pipeline>
		<nom>formulaire_verifier</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
	<categorie>outil</categorie>
</plugin>
