<plugin>
	<nom>Champs Extras2</nom>
	<auteur>Matthieu Marcillaud, Fil</auteur>
	<licence>GNU/GPL</licence>
	<version>1.1.0</version>
	<description>
	Creer de nouveaux champs aux objets d'&eacute;dition de SPIP
	</description>
	<lien>http://www.spip-contrib.net/Champs-Extras-2</lien>
	<etat>test</etat>
	<prefix>cextras</prefix>
	<options>cextras_options.php</options>
	<fonctions>cextras_balises.php</fonctions>
	<necessite id="SPIP" version="[2.0;]" />
 	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/cextras_autoriser.php</inclure>
	</pipeline>	
	<!--
 	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/cextras.php</inclure>
	</pipeline>	
	-->
 	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>afficher_contenu_objet</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>pre_edition</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>
 	<pipeline>
		<nom>formulaire_verifier</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>cextras_pipelines.php</inclure>
	</pipeline>	
</plugin>
