<plugin>
  <nom>SPIP Bonux</nom>
  <auteur>Cedric Morin, Matthieu Marcillaud, romy.tetue.net</auteur>
  <icon>img_pack/spip-bonux.png</icon>
  <licence>(c) 2008-2011 GPL</licence>
  <version>3.0.0-dev</version>
  <etat>dev</etat>
  <description>Le plugin qui lave plus SPIP que SPIP, avec des chouettes cadeaux dedans ! Interface douce, boucles POUR et CONDITION, tableaux, compteur, etc.</description>
  <lien>http://www.spip-contrib.net/SPIP-Bonux</lien>
  <fonctions>public/spip_bonux_criteres.php</fonctions>
  <fonctions>public/spip_bonux_balises.php</fonctions>
  <fonctions>spip_bonux_fonctions.php</fonctions>
  <options>spip_bonux_options.php</options>
  <prefix>spip_bonux</prefix>
  <necessite id='SPIP' version='[3.0.0-dev;]' />

  <categorie>outil</categorie>
</plugin>

