#une { border-left : 14em solid white; margin-left : -14em; }
#billets { margin-top : 2ex; width : 50%; }
  #billets img { padding : 0px; border-left : 1em solid white; }
#recents { margin-top : 2ex; background : white; left : -7em; }
  #recents div.resume { padding : 0px 1em 0px 0em; }

#imagedujour { display : none; }
#une { border-left : 0px; }
