
/* Main layout */

html { padding : 0px; margin : 0px; font-family : Arial, sans-serif; text-align : justify; color : black; background : white; line-height : 1.2; }
body { padding : 0px; margin : 0px; background : white; }

#outer { width : 100%; height : 100%; background : white; padding : 0px; }
  #head  { width : 100%; height : 75px; position : absolute; color : white; background : #e20000; z-index : 3; }
    #head h1 { margin-left : 6.5em; }
  #logo  { position : absolute; width : 12em; top : 0px; color : white; background : transparent; z-index : 4; text-align : center; }
  #lisiere { width : 12em; height : 100%; position : fixed; top : 0px; background : #550000; z-index : 1; }
  #left  { width : 11em; position : absolute; z-index : 5; top : 75px; text-align : left; z-index : 2; }
  #main  { position : absolute; top : 75px; width : 100%; z-index : 0; }
  #main_in { margin-left : 12em; padding : 1ex 1em 2ex; }
    #front { position : relative; }
      #billets { position : absolute; width : 50%; padding-bottom : 1ex; }
        #billets .resume { margin-right : 1em; }
      #recents { position : absolute; width : 50%; margin-left : 50%; padding-bottom : 1ex; }
        #recents .resume { margin-left : 1em; }
