
/* Main layout */

html { padding : 0px; margin : 0px; font-family : Times, serif; text-align : justify; color : black; background : white; line-height : 1.2; }
body { padding : 0px; margin : 0px; background : inherit; }

#outer { width : 100%; height : 100%; background : inherit; padding : 0px; }
  #head  { display : none; }
  #logo  { display : none; }
  #left  { display : none; }
  #main  { background : inherit; margin : 0px; padding : 1ex 1em; }
    #une { padding : 1ex 1em; margin : 3ex -1em 0ex; }

/* Non-print-worthy stuff should be hidden too ... */

h3.discuter { display : none; }
