
html,body { font-family : Times, serif; font-size : 95%; }

#head { display : none; }
#main { margin-top : 0; }

.shadow { box-shadow : none; -moz-box-shadow : none; -webkit-box-shadow : none; }
.page { width : 100%; border : none; margin : 0; }
div.article { margin : 0; }

h3.discuter          { display : none; }
div.relies           { display : none; }
div.spip-admin-float { display : none; }
